@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
:root {
    --bg: #f8f7f4;
    --bg-2: #f3ece7;
    --text: #34383a;
    --border: #d6d6d2;
    --accent: #8baa20;

    --space-1: 8px;
    --space-2: 16px;
    --space-3: 24px;
    --space-4: 32px;

    --radius: 10px;

    --font-ui: Instrument Sans, sans-serif;
    --font-code: "JetBrains Mono", monospace;
}
*{
    font-family: var(--font-ui), sans-serif;
    color: var(--text);
    font-size: 14px;
    box-sizing: border-box;
}

h1{
    font-size: 32px;
    font-weight: bold;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg);
    align-items: center;
    justify-content: space-between;
}

header{
    width: min(1200px, calc(100% - 128px));
}

#Progression{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.step{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    flex: 1;
}

.step-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--border);
    position: relative;
    z-index: 1;
}

.step.active .step-dot{
    background: var(--accent);
}

.step:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 50%;
    width: 100%;
    height: 2px;
    background: var(--border);
}

#form-bg{
    border: #34383a 1px solid;
    border-radius: var(--radius);
    margin: var(--space-4) 0 var(--space-2) 0;
    background-color: var(--bg-2);
}

form {
    display: flex;
    flex-direction: column;
    padding: var(--space-4);
}

.form-field{
    display: flex;
    justify-content: space-between;
    padding-block: var(--space-1);
    gap: var(--space-4);
}

input{
    width: 240px;
    border: solid 1px var(--text);
    border-radius: 6px;
}

#submit{
    width: 176px;

}

button{
    background: var(--text);
    color: var(--bg);
    border: none;
    border-radius: var(--radius);
    padding-block: 4px;
    width: 76px;
}

#form-actions{
    display: flex;
    align-items: flex-end;
    margin-block-start: var(--space-2);
    flex-direction: column
}

.connection-status {
    color: var(--accent)
}

#query .connection-status::after{
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--accent);
    margin-left: 6px;
}

#form-actions .connection-status{
    margin: 8px 0 0;
}

footer{
    padding: var(--space-2) 0;
    font-size: 12px;
}

footer p{
    color: #8a8a86;
}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: min(calc(1200px * 0.75), calc(100% - 128px));
}

#current-connection{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}

#user-query{
    height: clamp(250px, 40vh, 500px);
    width: 100%;
}

#query{
    width: 100%;
}

#query #navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: var(--space-1);
}

textarea{
    font-family: var(--font-code), monospace;
    resize: none;
}