<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PostgreSQL Tuning Wizard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>PostgreSQL Tuning Wizard</h1>
        <nav id="Progression">
            <div class="step active" id="connection-step">
                <span class="step-dot"></span>
                <span>Connection</span>
            </div>
            <div class="step" id="query-step">
                <span class="step-dot"></span>
                <span>Query</span>
            </div>
            <div class="step" id="analysis-step">
                <span class="step-dot"></span>
                <span>Analysis</span>
            </div>
            <div class="step" id="recommendations-step">
                <span class="step-dot"></span>
                <span>Recommendations</span>
            </div>
        </nav>
    </header>
    <main>
        <section id="connection">
            <div id="form-bg">
                <form>
                    <div class="form-field">
                        <label for="conn">Connection name</label>
                        <input id="conn" type="text" required>
                    </div>
                    <div class="form-field">
                        <label for="host">Host</label>
                        <input id="host" type="text" required>
                    </div>
                    <div class="form-field">
                        <label for="port">Port</label>
                        <input id="port" required>
                    </div>
                    <div class="form-field">
                        <label for="db">Database name</label>
                        <input id="db" type="text" required>
                    </div>
                    <div class="form-field">
                        <label for="username">Username</label>
                        <input id="username" type="text" required>
                    </div>
                    <div class="form-field">
                        <label for="pass">Password</label>
                        <input id="pass" type="password" required>
                    </div>
                    <div id="form-actions">
                        <button type="submit" id="submit">Test connection</button>
                        <p class="connection-status">✓ Connected</p>
                    </div>
                </form>
            </div>
            <button type="button" id="connection-next">Next -></button>
        </section>
        <section id="query" hidden>
            <div id="current-connection">
                <p>Database: tuning_wizard_test</p>
                <p class="connection-status">Connected</p>
            </div>
            <textarea id="user-query"></textarea>
            <div id="navigation">
                <button id="query-back" type="button"><- Back</button>
                <button style="width: 88px" type="button">Analyze -></button>
            </div>
        </section>
        <section id="analysis" hidden></section>
        <section id="recommendations" hidden></section>
    </main>
    <footer>
    <p>@strayberry</p>
    </footer>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>